<!-- <div class="container my-5">
  <ng-container *ngIf="registrationMessage?.length > 0">
    <div class="alert alert-success alert-dismissible">
      {{ registrationMessage }}
    </div>
  </ng-container>

  <form
    (ngSubmit)="registerUser()"
    [formGroup]="registrationForm"
    class="form-horizontal"
    novalidate
  >
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Register New User</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="fname">Name</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-prepend" style="width: 2.6rem">
              <i class="fa fa-user"></i>
            </div>
            <input
              class="form-control"
              formControlName="name"
              id="name"
              name="name"
              placeholder="John"
              required
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">E-Mail Address</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-at"></i>
            </div>
            <input
              class="form-control"
              formControlName="email"
              id="email"
              name="email"
              placeholder="you@example.com"
              required
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <ng-container *ngIf="email.errors?.taken && email.touched">
            <span class="text-danger align-middle">
              <i class="fa fa-close"> Email Already Taken</i>
            </span>
          </ng-container>
          <ng-container *ngIf="email.pending && email.touched">
            <span class="text-info align-middle">
              <i class="fa fa-hourglass"> Checking Email ....</i>
            </span>
          </ng-container>
          <ng-container
            *ngIf="!email.errors && email.touched && !email.pending"
          >
            <span class="text-success align-middle">
              <i class="fa fa-check"> Email Available</i>
            </span>
          </ng-container>
          <ng-container *ngIf="email.errors?.required && email.touched">
            <span class="text-danger align-middle">
              <i class="fa fa-check"> Email Required</i>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-key"></i>
            </div>
            <input
              class="form-control"
              formControlName="password"
              id="password"
              name="password"
              placeholder="Password"
              required
              type="password"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Confirm Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-repeat"></i>
            </div>
            <input
              class="form-control"
              formControlName="confirmPassword"
              id="password-confirm"
              name="password-confirmation"
              placeholder="Password"
              required
              type="password"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <ng-container *ngIf="!comparePassword && confirmPassword.touched">
            <span class="text-danger align-middle">
              <i class="fa fa-close"> Passwords don't match</i>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button
          [disabled]="
            (registrationForm.invalid || registrationForm.pending) &&
            registrationForm.touched
          "
          class="btn btn-success"
          type="submit"
        >
          <i class="fa fa-user-plus"></i> Register
        </button>
      </div>
    </div>
  </form>
</div> -->

<div class="container p-5 login_continer">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Register New User</h3>
      </div>
      <div class="card-body ml-5 mt-3">
        <!-- Reactive Model Form -->
        <form
          (ngSubmit)="registerUser()"
          [formGroup]="registrationForm"
          class="form-horizontal"
          novalidate
        >
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="name"
              id="name"
              name="name"
              placeholder="John"
              required
              type="text"
            />
            <span
              class="text-danger"
              *ngIf="name.invalid && name.touched && name.errors?.required"
            >
              Name is required
            </span>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="email"
              id="email"
              name="email"
              placeholder="you@example.com"
              required
              type="text"
            />
            <span *ngIf="email.invalid && email.touched">
              <span class="text-danger" *ngIf="email.errors?.required">
                Email is required
              </span>
              <span class="text-danger" *ngIf="email.errors?.email">
                Enter a valid email address
              </span>
            </span>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="password"
              id="password"
              name="password"
              placeholder="Password ('password' word is not allowed)"
              required
              type="password"
            />
            <span *ngIf="password.invalid && password.touched">
              <span class="text-danger" *ngIf="password.errors?.required">
                Password is required
              </span>
              <span
                class="text-danger"
                *ngIf="password.errors?.forbiddenPassword"
              >
                '{{ password.errors?.forbiddenPassword.value }}' is not allowed
                as a password <br />
              </span>
              <span class="text-danger" *ngIf="password.errors?.pattern">
                Password should have minimum 6 characters, at least 1 uppercase
                letter, 1 lowercase letter and 1 number
              </span>
            </span>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="confirmPassword"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
              type="password"
            />
            <span *ngIf="confirmPassword.touched">
              <span
                class="text-danger"
                *ngIf="confirmPassword.invalid && confirmPassword.errors?.required"
              >
                Confirm Password is required
              </span>
              <span
                class="text-danger"
                *ngIf="registrationForm.errors?.misMatch"
              >
                Password does not match
              </span>
            </span>
          </div>
          <div class="form-group">
            <button
              [disabled]="registrationForm.invalid && registrationForm.touched"
              class="btn mr-5 float-right login_btn"
              type="submit"
            >
              <i class="fa fa-user-plus"></i> Register
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Do you have an account?<a [routerLink]="['/users/login']">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
