<div class="container p-5 login_continer">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Register New User</h3>
      </div>
      <div class="card-body ml-5 mt-3">
        <!-- Reactive Model Form -->
        <form
          (ngSubmit)="registerUser()"
          [formGroup]="registrationForm"
          class="form-horizontal"
          novalidate
        >
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="name"
              id="name"
              name="name"
              placeholder="John"
              required
              type="text"
            />
            <span
              class="text-danger"
              *ngIf="name.invalid && name.touched && name.errors?.required"
            >
              Name is required
            </span>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="email"
              id="email"
              name="email"
              placeholder="you@example.com"
              required
              type="text"
            />
            <span *ngIf="email.invalid && email.touched">
              <span class="text-danger" *ngIf="email.errors?.required">
                Email is required
              </span>
              <span class="text-danger" *ngIf="email.errors?.email">
                Enter a valid email address
              </span>
            </span>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="password"
              id="password"
              name="password"
              placeholder="Password ('password' word is not allowed)"
              required
              type="password"
            />
            <span *ngIf="password.invalid && password.touched">
              <span class="text-danger" *ngIf="password.errors?.required">
                Password is required
              </span>
              <span
                class="text-danger"
                *ngIf="password.errors?.forbiddenPassword"
              >
                '{{ password.errors?.forbiddenPassword.value }}' is not allowed
                as a password <br />
              </span>
              <span class="text-danger" *ngIf="password.errors?.pattern">
                Password should have minimum 6 characters, at least 1 uppercase
                letter, 1 lowercase letter and 1 number
              </span>
            </span>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input
              class="form-control w-75"
              formControlName="confirmPassword"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
              required
              type="password"
            />
            <span *ngIf="confirmPassword.touched">
              <span
                class="text-danger"
                *ngIf="confirmPassword.invalid && confirmPassword.errors?.required"
              >
                Confirm Password is required
              </span>
              <span
                class="text-danger"
                *ngIf="registrationForm.errors?.misMatch"
              >
                Password does not match
              </span>
            </span>
          </div>
          <div class="form-group">
            <button
              [disabled]="registrationForm.invalid && registrationForm.touched"
              class="btn mr-5 float-right login_btn"
              type="submit"
            >
              <i class="fa fa-user-plus"></i> Register
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Do you have an account?<a [routerLink]="['/users/login']">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
