<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li>
          <a href="/"><i class="fa fa-phone"></i> +880-111-222-333</a>
        </li>
        <li>
          <a href="/"
            ><i class="fa fa-envelope-o"></i> support@ecom-bs-test.com</a
          >
        </li>
        <li>
          <a href="/"
            ><i class="fa fa-map-marker"></i> 4, Mohakhali, Dhaka, Bangladesh</a
          >
        </li>
      </ul>
      <ul class="header-links pull-right">
        <li>
          <a href="/"><i class="fa fa-dollar"></i> USD</a>
        </li>
        <li>
          <a href="/"><i class="fas fa-money-bill-wave-alt bdt"></i> BDT</a>
        </li>
        <li>
          <a routerLink="/admin/dashboard"
            ><i class="fas fa-tachometer-alt"></i> Dashboard</a
          >
        </li>
        <li>
          <a routerLink="/users/me"
            ><i class="fa fa-user"></i>
            {{ authState === false ? "LOGIN" : "My Account" }}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a [routerLink]="['/']" class="logo">
              <img width="200" src="/assets/img/logo.png" alt="" />
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select" #selectedCategory (change)="selectedCat(selectedCategory.value)">
                <option value="" hidden>All Categories</option>
                <option
                  *ngFor="let product of products | uniqueFilter: 'category'"
                  [ngValue]="product.category"
                >
                  {{ product.category }}
                </option>
              </select>
              <input class="input" placeholder="Select Category" disabled/>
              <button
                [class.disabled]="selectedCategory == null"
                class="search-btn pb-0"
                (click)="searchCat()"
              >
                Select
              </button>

              <!-- TODO Filtering products and selected category page routing -->
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="/">
                <i class="fa fa-heart"></i>
                <span>Your Wishlist</span>
                <div class="qty">0</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
                style="cursor: pointer"
                id="dropdown-status"
              >
              
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">
                  {{
                    cartInfo.data[0].numInCart === 0 ? 0 : cartInfo.data.length
                  }}
                </div>
              </a>
              <div aria-labelledby="dropdown-status" class="cart-dropdown">
                <div class="cart-list" *ngIf="cartInfo.data[0].numInCart !== 0">
                  <div
                    class="product-widget"
                    *ngFor="let cart of cartInfo.data; let idx = index"
                  >
                    <div class="product-img">
                      <img
                        width=""
                        [src]="cart.product.image"
                        alt="{{ cart.product.title }}"
                      />
                    </div>
                    <div class="product-body">
                      <h3 class="product-name">
                        <a href="/"> {{ cart.product.title }} </a>
                      </h3>
                      <h4 class="product-price">
                        <span class="qty"> {{ cart.numInCart }} x</span>
                        {{ cart.product?.price | currency: "USD" }}
                      </h4>
                    </div>
                    <button
                      class="delete"
                      (click)="cartService.deleteProductFromCart(idx)"
                    >
                      <i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small
                    >{{
                      cartInfo.data[0].numInCart === 0
                        ? 0
                        : cartInfo.data.length
                    }}
                    {{ cartInfo.data[0].numInCart === 0 ? "Item" : "Item(s)" }}
                    selected</small
                  >
                  <h5>TOTAL: {{ cartTotal | currency: "USD" }}</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">View Cart</a>
                  <a routerLink="/checkout"
                    >Checkout <i class="fa fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="/">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
