<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav h2">
        <li>
          <a
            [routerLink]="['/']"
            (click)="selectNav('home')"
            routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            (click)="selectNav('category')"
            >Categories</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            (click)="selectNav('hot-deals')"
            >Hot Deals</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            (click)="selectNav('contact-us')"
            >Contact Us</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            (click)="selectNav('blog')"
            >Blog</a
          >
        </li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
