<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Enter a valid date format</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="['/admin/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item active">Orders By date</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
      <div class="col-12">
        <div class="input-date">
          <!-- Reactive Model Form -->
          <form
            (ngSubmit)="fetchOrders()"
            [formGroup]="fetchOrdersForm"
            class="form-horizontal"
            novalidate
          >
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-fingerprint"></i>
                </span>
              </div>
              <input
                class="form-control w-25"
                formControlName="date"
                id="date"
                name="date"
                placeholder="yyyy-MM-dd"
                required
                type="text"
              />
              <button
                [disabled]="fetchOrdersForm.invalid && fetchOrdersForm.touched"
                class="btn btn-primary mr-5 float-right btn-fetch"
                type="submit"
              >
                <i class="fas fa-search-dollar"></i> Fetch Order
              </button>
              <span
                class="text-danger"
                *ngIf="
                  date.invalid && date.touched && date.errors?.required
                "
              >
                Date is required
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-12">
          <!-- Editable table -->
          <div class="card">
            <div class="card-body">
              <div id="table" class="table-editable">
                <table
                  class="
                    table table-bordered table-responsive-md table-striped
                    text-center
                  "
                >
                  <tr>
                    <th class="text-center">#No.</th>
                    <th class="text-center">Order Id</th>
                    <th class="text-center">Customer Name</th>
                    <th class="text-center">
                      Products
                      <tr>
                        <th>#No.</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>price</th>
                        <th>quantity</th>
                      </tr>
                    </th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Update</th>
                  </tr>
                  <tr *ngFor="let order of orders; let idx = index">
                    <td>
                      <span>{{ idx + 1 }}</span>
                    </td>
                    <td>
                      <span>{{ order?._id }}</span>
                    </td>
                    <td>
                      <span>{{ order?.customer?.name }}</span>
                    </td>
                    <td>
                      <tr *ngFor="let p of order.productOrdered; let idx = index">
                        <td>
                          <span>{{ idx + 1 }} </span>
                        </td>
                        <td class="w-25">
                          <span
                            ><img
                              [src]="p.product.image"
                              class="w-25 rounded img-thumbnail"
                            />
                          </span>
                        </td>
                        <td>
                          <span>{{ p.product.title.slice(0, 25) }} </span>
                        </td>
                        <td>
                          <span>{{ p.product.price | currency: 'USD' }} </span>
                        </td>
                        <td>
                          <span>{{ p.quantity }} </span>
                        </td>
                      </tr>
                    </td>
                    <td>
                      <span>{{ order.date | date }}</span>
                    </td>
                    <td>
                      <span>{{ order.status | titlecase }}</span>
                    </td>
                    <td>
                      <span>
                        <!-- TODO Status change functionality -->
                        <!-- <div ngbDropdown class="d-inline-block" >
                          <button
                            class="btn btn-outline-primary"
                            id="dropdownBasic1"
                            ngbDropdownToggle
                          >
                            {{ order.status | titlecase }}
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Pending</button>
                            <button ngbDropdownItem>Approved</button>
                            <button ngbDropdownItem>Delivered</button>
                          </div>
                        </div> -->
                      
                      <select
                            class="form-control"
                            name="status"
                            (change)="updateStatus(order._id, $event.target.value)"
                            [(ngModel)]="status"
                            required
                          >
                            <option [value]="status" *ngFor="let status of statusList">
                              {{ status }}
                              <!-- <ng-container *ngFor="let s of statusData">
                                {{ s.id === order._id ? s.status : order.status }}
                              </ng-container> -->
                            </option>
                          </select>
                        </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- Editable table -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  