.input-date {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
    margin-top: -10px;
}

.empty-section {
    display: flex;
    justify-content: center;
    min-height: 25vh;
    align-items: center;
}