<div *ngIf="products.length > 0" class="card">
  <div class="card-header">
    <h3 class="card-title">DataTable with default features</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="dt-buttons btn-group flex-wrap">
            <button
              class="btn btn-secondary buttons-copy buttons-html5"
              tabindex="0"
              aria-controls="example1"
              type="button"
            >
              <span>Copy</span>
            </button>
            <button
              class="btn btn-secondary buttons-csv buttons-html5"
              tabindex="0"
              aria-controls="example1"
              type="button"
            >
              <span>CSV</span>
            </button>
            <button
              class="btn btn-secondary buttons-print"
              tabindex="0"
              aria-controls="example1"
              type="button"
            >
              <span>Print</span>
            </button>
            <div class="btn-group">
              <button
                class="
                  btn btn-secondary
                  buttons-collection
                  dropdown-toggle
                  buttons-colvis
                "
                tabindex="0"
                aria-controls="example1"
                type="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span>Column visibility</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="example1_filter" class="dataTables_filter">
            <label
              >Search:<input
                type="search"
                class="form-control form-control-sm"
                placeholder=""
                aria-controls="example1"
            /></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table
            id="example1"
            class="table table-bordered table-striped dataTable dtr-inline"
            role="grid"
            aria-describedby="example1_info"
          >
            <thead>
              <tr role="row">
                <th
                  class="sorting sorting_asc"
                  tabindex="0"
                  aria-controls="example1"
                  rowspan="1"
                  colspan="1"
                  aria-sort="ascending"
                  aria-label="Rendering engine: activate to sort column descending"
                >
                  Image
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="example1"
                  rowspan="1"
                  colspan="1"
                  aria-label="Browser: activate to sort column ascending"
                >
                  Title
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="example1"
                  rowspan="1"
                  colspan="1"
                  aria-label="Platform(s): activate to sort column ascending"
                >
                  Description
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="example1"
                  rowspan="1"
                  colspan="1"
                  aria-label="Platform(s): activate to sort column ascending"
                >
                  Category
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="example1"
                  rowspan="1"
                  colspan="1"
                  aria-label="Engine version: activate to sort column ascending"
                >
                  Price
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="example1"
                  rowspan="1"
                  colspan="1"
                  aria-label="CSS grade: activate to sort column ascending"
                >
                  Quantity
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let product of products; let idx = index">
                <tr [class]="idx % 2 === 0 ? 'even' : 'odd'">
                  <td class="dtr-control sorting_1" tabindex="0" width="100">
                    <img [src]="product?.image" class="w-25" />
                  </td>
                  <td>{{ product?.title }}</td>
                  <td>{{ product?.description.substr(0, 150) }}</td>
                  <td>{{ product?.category }}</td>
                  <td>{{ product?.price | currency: "USD" }}</td>
                  <td>{{ product?.quantity }}</td>
                  <td>
                    <span class="d-flex">
                      <button
                        (click)="deleteProduct(product._id)"
                        class="btn btn-primary mr-3"
                      >
                        Delete
                      </button>
                      <button
                        (click)="processProductInfo(product)"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#updateFormModal"
                      >
                        Update
                      </button>

                      <!-- Modal -->
                      <div
                        class="modal fade"
                        id="updateFormModal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">
                                Update Product
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="card card-primary">
                                <!-- Reactive model form start -->
                                <form
                                  *ngIf="product; else loading"
                                  (ngSubmit)="updateProduct()"
                                  [formGroup]="productForm"
                                  id="quickForm"
                                  novalidate="novalidate"
                                >
                                  <div class="card-body">
                                    <div class="form-group">
                                      <label for="title">Product Title</label>
                                      <input
                                        type="text"
                                        name="title"
                                        formControlName="title"
                                        class="form-control"
                                        id="title"
                                        placeholder="Enter title"
                                        required
                                      />
                                      <span
                                        class="text-danger"
                                        *ngIf="
                                          title.invalid &&
                                          title.touched &&
                                          title.errors?.required
                                        "
                                      >
                                        Title is required
                                      </span>
                                    </div>
                                    <div class="form-group">
                                      <label for="description"
                                        >Description</label
                                      >
                                      <input
                                        type="text"
                                        name="description"
                                        formControlName="description"
                                        class="form-control"
                                        id="description"
                                        placeholder="Enter description"
                                        required
                                      />
                                      <span
                                        class="text-danger"
                                        *ngIf="
                                          description.invalid &&
                                          description.touched &&
                                          description.errors?.required
                                        "
                                      >
                                        Description is required
                                      </span>
                                    </div>
                                    <div class="form-group">
                                      <label for="price">Price</label>
                                      <input
                                        type="number"
                                        name="price"
                                        formControlName="price"
                                        class="form-control"
                                        id="price"
                                        placeholder="Enter price"
                                        required
                                      />
                                      <span
                                        class="text-danger"
                                        *ngIf="
                                          price.invalid &&
                                          price.touched &&
                                          price.errors?.required
                                        "
                                      >
                                        Price is required
                                      </span>
                                    </div>
                                    <div class="form-group">
                                      <label for="title">Category</label>
                                      <input
                                        type="text"
                                        name="category"
                                        formControlName="category"
                                        class="form-control"
                                        id="category"
                                        placeholder="Enter category"
                                        required
                                      />
                                      <span
                                        class="text-danger"
                                        *ngIf="
                                          category.invalid &&
                                          category.touched &&
                                          category.errors?.required
                                        "
                                      >
                                        Category is required
                                      </span>
                                    </div>
                                    <div class="form-group">
                                      <label for="image">Image Link</label>
                                      <input
                                        type="text"
                                        name="image"
                                        formControlName="image"
                                        class="form-control"
                                        id="image"
                                        placeholder="Enter image"
                                        required
                                      />
                                      <span
                                        class="text-danger"
                                        *ngIf="
                                          image.invalid &&
                                          image.touched &&
                                          image.errors?.required
                                        "
                                      >
                                        Image is required
                                      </span>
                                    </div>
                                    <div class="form-group">
                                      <label for="quantity">Quantity</label>
                                      <input
                                        type="text"
                                        name="quantity"
                                        formControlName="quantity"
                                        class="form-control"
                                        id="quantity"
                                        placeholder="Enter quantity"
                                        required
                                      />
                                      <span
                                        class="text-danger"
                                        *ngIf="
                                          quantity.invalid &&
                                          quantity.touched &&
                                          quantity.errors?.required
                                        "
                                      >
                                        Quantity is required
                                      </span>
                                    </div>
                                  </div>
                                  <!-- /.card-body -->
                                  <div class="modal-footer form-group ml-3">
                                    <button
                                      type="button"
                                      class="btn btn-secondary"
                                      data-dismiss="modal"
                                    >
                                      Close
                                    </button>
                                    <button
                                      [disabled]="
                                        productForm.invalid &&
                                        productForm.touched
                                      "
                                      type="submit"
                                      class="btn btn-primary"
                                    >
                                      Update
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div
            class="dataTables_info"
            id="example1_info"
            role="status"
            aria-live="polite"
          >
            Showing 1 to 10 of 57 entries
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div
            class="dataTables_paginate paging_simple_numbers"
            id="example1_paginate"
          >
            <ul class="pagination">
              <li
                class="paginate_button page-item previous disabled"
                id="example1_previous"
              >
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="0"
                  tabindex="0"
                  class="page-link"
                  >Previous</a
                >
              </li>
              <li class="paginate_button page-item active">
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="1"
                  tabindex="0"
                  class="page-link"
                  >1</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="2"
                  tabindex="0"
                  class="page-link"
                  >2</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="3"
                  tabindex="0"
                  class="page-link"
                  >3</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="4"
                  tabindex="0"
                  class="page-link"
                  >4</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="5"
                  tabindex="0"
                  class="page-link"
                  >5</a
                >
              </li>
              <li class="paginate_button page-item">
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="6"
                  tabindex="0"
                  class="page-link"
                  >6</a
                >
              </li>
              <li class="paginate_button page-item next" id="example1_next">
                <a
                  href="/admin/dashboard"
                  aria-controls="example1"
                  data-dt-idx="7"
                  tabindex="0"
                  class="page-link"
                  >Next</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>

<!-- Spinner button while loading all products -->
<button *ngIf="products.length <= 0" class="btn btn-primary btn-spinner" type="button" disabled>
  <span class="spinner-border spinner-border-md mr-2" role="status" aria-hidden="true"></span>
  Loading products...
</button>
