<div class="container user-profile">
  <h2 class="text-center mb-3">Welcome {{ myUser.name }}</h2>
  <form novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            [src]="'https://banner2.cleanpng.com/20180505/upw/kisspng-computer-icons-avatar-businessperson-interior-desi-corporae-5aee195c6d1683.4671087315255535004468.jpg'"
            alt="{{ myUser?.name }}"
          />
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input name="file" type="file" />
          </div>
        </div>
        <div class="profile-work">
          <h4>PROFILE INFO</h4>
          <!-- TODO user id to be gotten from backend -->
          <p><strong>User Id: </strong></p>

          <p><strong>Name: </strong> {{ myUser.name  }}</p>

          <p><strong>Email: </strong> {{ myUser.email }}</p>

          <p>
            <strong>Phone: </strong>
            {{ 880 - 111 - 222 - 333 }}
          </p>

          <p>
            <strong>Profession: </strong>
            {{ "Your Profession" }}
          </p>
        </div>
        <button (click)="logout()" class="btn btn-secondary btn-lg">
          Logout
        </button>
      </div>
      <div class="col-md-8">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>#Order Qty</th>
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let order of userOrderData; let idx = index">
              <tr>
                <td>{{ idx + 1 }}</td>
              </tr>
              <tr *ngFor="let u of order.productOrdered; let idx = index">
                <td></td>
                <td class="d-flex align-items-center justify-content-around">
                  <img
                    [src]="u.product?.image"
                    alt="{{ u.product?.title }}"
                    height="60"
                    class="order-1"
                  />
                </td>

                <td>
                  <p
                    class="
                      d-flex
                      align-items-center
                      justify-content-center
                      mt-4
                    "
                  >
                    {{ u.product?.title | uppercase }}
                  </p>
                </td>

                <td>
                  <p
                    class="
                      d-flex
                      align-items-center
                      justify-content-center
                      mt-4
                    "
                  >
                    {{ u.product?.price | currency: "USD" }}
                  </p>
                </td>

                <td>
                  <p
                    class="
                      d-flex
                      align-items-center
                      justify-content-center
                      mt-4
                    "
                  >
                    {{ u.quantity }}
                  </p>
                </td>
                <td>
                  <p
                    class="
                      d-flex
                      align-items-center
                      justify-content-center
                      mt-4
                    "
                  >
                    {{ u.quantity * u.product?.price | currency: "USD" }}
                  </p>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tr class="border-0">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>TOTAL</h5></td>
            <td>
              <h5>{{ calculateTotal() | currency: "USD" }}</h5>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>
