<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>All Users</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/admin/dashboard']">Home</a>
          </li>
          <li class="breadcrumb-item active">All Users</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Editable table -->
        <div class="card">
          <div class="card-body">
            <div id="table" class="table-editable">
              <table
                class="
                  table table-bordered table-responsive-md table-striped
                  text-center
                "
              >
                <tr>
                  <th class="text-center">#No.</th>
                  <th class="text-center">Id</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Created At</th>
                  <th class="text-center">Role</th>
                  <th class="text-center">Action</th>
                </tr>
                <tr *ngFor="let user of users; let idx = index">
                  <td>
                    <span>{{ idx + 1 }}</span>
                  </td>
                  <td>
                    <span>{{ user?._id }}</span>
                  </td>
                  <td>
                    <span>{{ user?.name | titlecase }}</span>
                  </td>
                  <td>
                    <span>{{ user?.email }}</span>
                  </td>
                  <td>
                    <span>{{ user.createdAt | date }}</span>
                  </td>
                  <td>
                    <span>{{
                      user.role !== "superAdmin"
                        ? (user.role | titlecase)
                        : "Super Admin"
                    }}</span>
                  </td>
                  <td>
                    <span class="d-flex justify-content-center">
                      <button
                        (click)="deleteUser(user._id)"
                        class="btn btn-primary mr-3"
                      >
                        Delete
                      </button>
                      <button
                        (click)="processUserInfo(user)"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#updateFormModal"
                      >
                        Update
                      </button>




                      <!-- Modal -->
                      <div
                        class="modal fade"
                        id="updateFormModal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">
                                Update User
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                              <div class="card card-body">
                                <div class="pl-3 pr-3 card-primary">
                                  <!-- Reactive Model Form -->
                                  <form
                                  *ngIf="user; else loading"
                                  (ngSubmit)="updateUser()"
                                  [formGroup]="userForm"
                                  class="form-horizontal"
                                  novalidate
                                  >
                                  <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                      </span>
                                    </div>
                                    <input
                                      class="form-control w-75"
                                      formControlName="name"
                                      id="name"
                                      name="name"
                                      placeholder="John"
                                      required
                                      type="text"
                                    />
                                    <span
                                      class="text-danger"
                                      *ngIf="name.invalid && name.touched && name.errors?.required"
                                    >
                                      Name is required
                                    </span>
                                  </div>
                                  <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-envelope"></i>
                                      </span>
                                    </div>
                                    <input
                                      class="form-control w-75"
                                      formControlName="email"
                                      id="email"
                                      name="email"
                                      placeholder="you@example.com"
                                      required
                                      type="text"
                                    />
                                    <span *ngIf="email.invalid && email.touched">
                                      <span class="text-danger" *ngIf="email.errors?.required">
                                        Email is required
                                      </span>
                                      <span class="text-danger" *ngIf="email.errors?.email">
                                        Enter a valid email address
                                      </span>
                                    </span>
                                  </div>
                                  
                                  <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-key"></i>
                                      </span>
                                    </div>
                                    <input
                                      class="form-control w-75"
                                      formControlName="password"
                                      id="password"
                                      name="password"
                                      placeholder="Password ('password' word is not allowed)"
                                      required
                                      type="password"
                                    />
                                    <span *ngIf="password.invalid && password.touched">
                                      <span class="text-danger" *ngIf="password.errors?.required">
                                        Password is required
                                      </span>
                                      <span
                                        class="text-danger"
                                        *ngIf="password.errors?.forbiddenPassword"
                                      >
                                        '{{ password.errors?.forbiddenPassword.value }}' is not allowed
                                        as a password <br />
                                      </span>
                                      <span class="text-danger" *ngIf="password.errors?.pattern">
                                        Password should have minimum 6 characters, at least 1 uppercase
                                        letter, 1 lowercase letter and 1 number
                                      </span>
                                    </span>
                                  </div>
                                  <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-key"></i>
                                      </span>
                                    </div>
                                    <input
                                      class="form-control w-75"
                                      formControlName="confirmPassword"
                                      id="confirmPassword"
                                      name="confirmPassword"
                                      placeholder="Confirm Password"
                                      required
                                      type="password"
                                    />
                                    <span *ngIf="confirmPassword.touched">
                                      <span
                                        class="text-danger"
                                        *ngIf="confirmPassword.invalid && confirmPassword.errors?.required"
                                      >
                                        Confirm Password is required
                                      </span>
                                      <span
                                        class="text-danger"
                                        *ngIf="userForm.errors?.misMatch"
                                      >
                                        Password does not match
                                      </span>
                                    </span>
                                  </div>
                                  <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-sign-in-alt"></i>
                                      </span>
                                      <span>
                                        <select class="form-control w-100" formControlName="role">
                                          <option value="" hidden>
                                            Select Role
                                          </option>
                                          <ng-container *ngFor="let role of roleList">
                                            <option value="{{ role }}">
                                              {{ role }}
                                            </option>
                                          </ng-container>
                                        </select>
                                      </span>
                                    </div>
                                    <span *ngIf="role.invalid && role.touched">
                                        Please choose a role
                                    </span>
                                  </div>
                                  <div class="form-group modal-footer form-group">
                                    <button
                                      type="button"
                                      class="btn btn-secondary"
                                      data-dismiss="modal"
                                    >
                                    <i class="far fa-window-close"></i> Close
                                    </button>
                                    <button
                                      [disabled]="userForm.invalid && userForm.touched"
                                      class="btn btn-secondary"
                                      type="submit"
                                    >
                                    <i class="fas fa-edit"></i> Update
                                    </button>
                                  </div>

                                  </form>
                                </div>
                                
                              </div>



                            </div>
                          </div>
                        </div>
                      </div>



                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Editable table -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
