<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>All Users</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/admin/dashboard']">Home</a>
          </li>
          <li class="breadcrumb-item active">All Users</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Editable table -->
        <div class="card">
          <div class="card-body">
            <div id="table" class="table-editable">
              <table
                class="
                  table table-bordered table-responsive-md table-striped
                  text-center
                "
              >
                <tr>
                  <th class="text-center">#No.</th>
                  <th class="text-center">Id</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Created At</th>
                  <th class="text-center">Role</th>
                  <th class="text-center">Action</th>
                </tr>
                <tr *ngFor="let user of users; let idx = index">
                  <td>
                    <span>{{ idx + 1 }}</span>
                  </td>
                  <td>
                    <span>{{ user?._id }}</span>
                  </td>
                  <td>
                    <span>{{ user?.name | titlecase }}</span>
                  </td>
                  <td>
                    <span>{{ user?.email }}</span>
                  </td>
                  <td>
                    <span>{{ user.createdAt | date }}</span>
                  </td>
                  <td>
                    <span>{{
                      user.role !== "superAdmin"
                        ? (user.role | titlecase)
                        : "Super Admin"
                    }}</span>
                  </td>
                  <td>
                    <span>
                      <button
                        (click)="deleteUser(user._id)"
                        class="btn btn-primary"
                      >
                        Delete
                      </button>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Editable table -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
