<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section hot-deal-area" style="margin-top: -150px">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>{{ daysToDday }}</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>{{ hoursToDday }}</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>{{ minutesToDday }}</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>{{ secondsToDday }}</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Collection Up to 30% OFF</p>
          <a class="primary-btn cta-btn" [routerLink]="['/hot-deals']"
            >Shop now</a
          >
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
