<div class="container p-5 login_continer">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <!-- Template Driven Form (TDF) -->
        <form novalidate #myForm="ngForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="email"
              id="email"
              type="email"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="password"
              id="password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox" />Remember Me
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Login"
              class="btn float-right login_btn"
              (click)="processLogin(myForm)"
              [disabled]="myForm.invalid && myForm.touched"
            />
          </div>
          <div class="mt-5 pt-1">
            <button
              (click)="signInWithGoogle()"
              class="btn btn-info btn-md btn-block mt-4"
            >
              <span><i class="fa fa-google"></i> Google </span>
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a [routerLink]="['/users/create']">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
