.section-title .category-title {
    border-bottom: 1px solid;
    width: 100%;
}

.card-body .price-section {
    color: red !important;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.card-body .product-available {
    color: red !important;
    font-weight: normal;
}

.sold-out {
    content: "Sold out";
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}