.section-title .category-title {
    border-bottom: 1px solid;
    width: 100%;
}

.card-body .price-section {
    color: red !important;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.card-body .product-available {
    color: red !important;
    font-weight: normal;
}