<!-- ngx spinner -->
<ngx-spinner
  bdColor="rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <p style="font-size: 20px; color: black">Pending Orders...</p>
</ngx-spinner>

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Pending Orders</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/admin/dashboard']">Home</a>
          </li>
          <li class="breadcrumb-item active">Pending Orders</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Editable table -->
        <div *ngIf="orders?.length" class="card">
          <div class="card-body">
            <div id="table" class="table-editable">
              <table
                class="
                  table table-bordered table-responsive-md table-striped
                  text-center
                "
              >
                <tr>
                  <th class="text-center">#No.</th>
                  <th class="text-center">Order Id</th>
                  <th class="text-center">Customer Name</th>
                  <th class="text-center">
                    Products
                    <tr>
                      <th>#No.</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>price</th>
                      <th>quantity</th>
                    </tr>
                  </th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Update</th>
                </tr>
                <tr *ngFor="let order of orders; let idx = index">
                  <td>
                    <span>{{ idx + 1 }}</span>
                  </td>
                  <td>
                    <span>{{ order._id }}</span>
                  </td>
                  <td>
                    <span>{{ order?.customer?.name }}</span>
                  </td>
                  <td>
                    <tr *ngFor="let p of order.productOrdered; let idx = index">
                      <td>
                        <span>{{ idx + 1 }} </span>
                      </td>
                      <td class="w-25">
                        <span
                          ><img
                            [src]="p.product?.image"
                            class="w-25 rounded img-thumbnail"
                          />
                        </span>
                      </td>
                      <td>
                        <span>{{ p.product?.title.slice(0, 25) }} </span>
                      </td>
                      <td>
                        <span>{{ p.product?.price | currency: "USD" }} </span>
                      </td>
                      <td>
                        <span>{{ p.quantity }} </span>
                      </td>
                    </tr>
                  </td>
                  <td>
                    <span>{{ order.date | date }}</span>
                  </td>
                  <td>
                    <span>{{ order.status | titlecase }}</span>
                  </td>
                  <td>
                    <span>
                      <select
                        #selectStatus
                        (change)="updateStatus(order._id, selectStatus.value)"
                      >
                        <option value="Select Status" hidden>
                          Select Status
                        </option>
                        <ng-container *ngFor="let status of statusList">
                          <option value="{{ status }}" [ngValue]="status">
                            {{ status }}
                          </option>
                        </ng-container>
                      </select>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Editable table -->
        <!-- Empty Message start -->
        <div class="empty-section" *ngIf="!orders?.length">
          <h2>Pending orders are empty now.</h2>
        </div>
        <!-- Empty Message end -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
